/* Reseting Page */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Uitlity Class */

.clr {
    clear: both;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.text-primary {
    color: #f7c08a;
}

.bg-light {
    background: #fff;
}

.bg-primary {
    background: #f7c08a;
}

.width-80 {
    width: 80%;
    margin: auto;
}


/* Font family */

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar Design */


#navbar {
    background: #333;
    color: #fff;
    overflow: auto;
    

}

#navbar h1 {
    float: left;
    padding: 18px;
}

#navbar h1 a {
    text-decoration: none;
    color: #fff;
}

#navbar ul {
    float: right;
    list-style: none;
}

#navbar ul li a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 20px 20px 26px 20px ;
    
    
}

#navbar ul li {
    float: left;
}

#navbar ul li a:hover{
    background: #444;
    color: #f7c08a;
}


/* 
=======   Designing Home Page ======
*/


/* Showcase Section */

.showcase {
    background: url("../Images/showcase.jpg") no-repeat center center/cover;
    height: 90vh;
    
    
}

#showcase-content {
  text-align: center;
  padding-top: 170px;  
  
}

#showcase-content h1 {
    margin-bottom: 1em;
    font-size: 3em;
    color: #444;
}

#showcase-content p {
    padding-bottom: 2em;
    font-size: 1.1em;
    color: #fff;
}

#showcase-content a {
    display: inline-block;
    padding: 1em;
    background: #444;
    text-decoration: none;
    color:#fff;
    font-size: 1.2em;
   
}

#showcase-content button {
    border: none;
}

#showcase-content a:hover {
    background: #f7c08a;
    color: #333;
}


/* History Section */

#home-info {
    background: #444;
    height:600px;
    overflow: hidden;
    
}

#home-info .info-img {
    background: url("../Images/photo-1.jpg") no-repeat;
    width: 50%;
    float: left;
    min-height: 100%;
}


#home-info .info-content {
    float: right;
    width: 50%;
    min-height: 100%;
    color: #fff;
    text-align: center;
    padding-top: 3em;
    
    
    
}


#home-info .info-content h1 {
    padding-bottom:1.4em ;
}

#home-info .info-content p {
    width: 80%;
    margin: auto;
} 


#home-info .info-content a {
    display: inline-block;
    padding: 13px;
    
}

#home-info .info-content a {
    text-decoration: none;
}

#home-info .info-content button:hover {
    background: #f7c08a;
    color: #fff;
}

#home-info .info-content button {
    border: none;
    margin-top: 20px;
}

.history-container {
    margin-top: 100px;
}


/* features section design */

.box {

    float: left;
    width: 33.3%;
    height: 600px;
    text-align: center;
    
}

.box i {
    margin-top: 50px;
    margin-bottom: 20px;
}

.box h3 {
    margin-bottom: 40px;
}

#main-footer {
    height: 100px;
    background: #444;
    color: #fff;
    text-align: center;
    
}

#main-footer p {
    padding-top: 40px;
}


/* 
=======   Designing About Page ======
*/

/* About Section */


#about-info {
    background: #fff;
    height: 400px;
    overflow: hidden;
    width: 80%;
    margin: auto;
}

#about-info .left {
    float: left;
    width: 50%;
    min-height: 100%;
    padding: 50px;
}

#about-info .right {
    
    float: right;
    width: 50%;

}

#about-info img {
    display: inline-block;
    border-radius: 50%;
    width: 300px;
    margin-left: 150px;
    margin-top: 50px;
    
}

#about-info .left h1 {
    font-size: 50px;
    
}

#about-info .left p {
    text-align: justify;
    padding-top: 20px;

}


/* Testimonial Section */


#testimonials {
    background: url("/Images/test-bg.jpg") no-repeat center center/cover;
    height: 700px;
}

.testimonial {
    height: 150px;
    overflow: hidden;
    width: 60%;
    margin: 40px auto;
    background: #f7c08a;
    opacity: 0.9;
    border-radius: 5px;
    
    
}

.testimonial img {
    width: 100px;
    float: left;
    border-radius: 50%;
    margin: 20px;

}

.testimonial p {
    text-align: justify;
    margin: 40px 20px;
}

#testimonials .testimonial-container {

    padding-top: 100px;
}

#testimonials .title {
    
    width: 80%;
    margin: auto;
    padding-top: 90px;
}

#testimonials .title h1{
    font-size: 40px;
    color: #fff;
    text-align: center;
}


/* 
======  Contact Us ======
*/

/* Contact Form */

#contact {
    width: 70%;
    background: #fff;
    margin: auto;
    height: 670px;
}

#contact h1 {
    display: block;
    font-size: 40px;
    margin: 40px 0px;
}

#contact input,label {
    display: block;
    
}

#contact input {
    font-size: 20px;
}

#contact p {
    font-size: large;
    margin-bottom: 20px;
}

#contact label {
    margin-top: 30px;
    margin-bottom: 10px;
}

#contact input,textarea {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 13px 10px;
    
}

#contact input:focus,
#contact textarea:focus {
    outline: none;
    border-color: #f7c08a;
}

#contact button {
    padding: 10px 20px;
    margin: 10px 0px;
    background: #444;
    color: #fff;
    border:1px solid #333;
    border-radius: 4px;
}

#contact button:hover {
    background: #f7c08a;
    color: #fff;
    border:1px solid #f7c08a;
}

/* Contact Informations */

#contact-info {
    background-color: #333;
}

.container-info {
    width: 60%;
    margin: auto;
    color: #fff;
    overflow: hidden;
}

#contact-info .container-info .infos {
    
    float: left;
    height: 200px;
    width: 33%;
    text-align: center;
}

#contact-info .container-info .infos i {
    margin: 30px 0px 15px 0px;
}

#contact-info .container-info .infos p {
    margin-top: 10px;
}

#navbar ul li .select {
    background: #f7c08a;
    color: #333;
}